.App {
  background-image: url('./assets/bigBg.jpg');
  /* background-image: url('./assets/bg.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.App-content {
  min-height: 100vh; 
  width: 100%;
  text-align: center;
  display: flex;
  /* flex-direction: column;
  align-items: center; */
  justify-content: center;
}


